<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>알람 목록</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <header style="padding:30px">
            <h3>알람 목록 4</h3>
        </header>  
        <section class="page-section bg-light" id="portfolio">
            <article style="margin:30px";>
                <div class="container" style="height:150px; border-style: groove; padding:55px; margin-top:10px;">
                    <div style="float:left">
                        내가 작성한 글에 누군가가 댓글을 달았습니다.
                    </div>
                    <span style="float:right">
                        <button class="btn btn-danger">삭제</button>
                    </span>
                </div>
                <div class="container" style="height:150px; border-style: groove; padding:55px; margin-top:10px;">
                    <div style="float:left">
                        내가 작성한 댓글에 누군가가 대댓글을 달았습니다.
                    </div>
                    <span style="float:right">
                        <button class="btn btn-danger">삭제</button>
                    </span>
                </div>
                <div class="container" style="height:150px; border-style: groove; padding:55px; margin-top:10px;">
                    <div style="float:left">
                        홍길동님과 친구가 되셨습니다.
                    </div>
                    <span style="float:right">
                        <button class="btn btn-danger">삭제</button>
                    </span>
                </div>
            </article>
        </section>
    </body>
</html> 