<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        div {
            border: 1px solid black;

        }

        hr {
            border: solid 1px lightgray;
        }

        .container {
            padding: 10px;
        }

        .container>h3 {
            color: darkturquoise;
        }

        .button_wrapper {
            text-align: right;
        }

        #content_no {
            width: 20%;
        }

        #content_sub {
            width: 60%;
        }

        #content_writer {
            width: 20%;
        }

        #content_contoller {
            width: 20%;
        }
        ul{
            margin-left: 30px;
        }
        li {
            list-style: none;
            /* 불릿없앰*/
            display: inline-table;
            /* 테이블스타일로배치*/
            padding: 10px;
            /* 안여백은각각10px로*/
        }
        img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <section>
        <div class="container">
            <h3>게시판 이름</h3>
            <hr>
            <h2>제목 : </h2>
            <h6>글번호 : 121 &nbsp;&nbsp; 작성자 :  &nbsp;&nbsp; 작성일 2020-07-05</h6>
            <hr>
            <article>
                <h3>갤러리</h3>
                <div style="justify-content: center;">
                    <ul>
                        <li>
                            <div style="width:200px;height:200px;"><img src="img/pap.jpg"></div>
                        </li>
                        <li>
                            <div style="width:200px;height:200px;"><img src="img/tom.jpg"></div>
                        </li>
                        <li>
                            <div style="width:200px;height:200px;"><img src="img/sal.jpg"></div>
                        </li>
                        <li>
                            <div style="width:200px;height:200px;"><img src="img/tom.jpg"></div>
                        </li>
                    </ul>
                </div>
            </article>
               <hr>
            
            <article>
               
            </article>
         
            
            <hr>
            <div class="button_wrapper">
                <button>글수정</button>
                <button>글삭제</button>
            </div>
            <hr>
            <div class="comment" style="margin-top:10px;">
                <form>
                    <textarea rows="3" style="float:left; width:80%; margin-left: 80px;"></textarea>
                    <input class="btn-lg" type="submit" value="등록하기" style="margin:5px;">
                </form>
            </div>
            <br>
            <hr>
            <table class="table">
                <thead>
                    <tr>

                        <th id="content_sub">글 내용</th>
                        <th id="content_writer" colspan="2">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                    <tr>

                        <td id="content_sub">글 내용</td>
                        <td id="content_writer">작성자</td>
                        <td id="content_contoller">
                            <button>댓글수정</button>
                            <button>댓글삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
    <footer>
    </footer>
</body></html>
