<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.growbeans.cunity.studyFolder.mapper.StudyFolderMapper">
	<resultMap type="StudyFolder" id="studyFolderResultSet">
		<id property="folderNo" column="FOLDER_NO" />
		<result property="studyNo" column="STUDY_NO" />
		<result property="folderName" column="FOLDER_NAME" />
		<result property="parentFolderNo" column="PARENT_FOLDER_NO" />

	</resultMap>

	 <resultMap type="studyFile" id="studyFileResultSet">
		<id property="fileNo" column="FILE_NO" />
		<result property="studyNo" column="STUDY_NO" />
		<result property="uploadFile" column="FILE_NAME" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileUploadTime" column="FILE_UPLOAD_TIME" />
		<result property="folderNo" column="FOLDER_NO" />
		<result property="fileRegistrant" column="FILE_REGISTRANT" />
	</resultMap>
	
	<select id="topStudyFolder" resultMap="studyFolderResultSet">
		select * from study_folder where study_No = #{studyNo} and parent_Folder_No is null
	</select>
	
	<select id="selectlistStudyFolder" resultMap="studyFolderResultSet">
		select * from study_Folder where study_No = #{studyNo} and parent_Folder_No = #{folderNo}
	</select>
	
	<select id="selectOneStudyFolder"
		resultMap="studyFolderResultSet">
		select * from study_Folder where folder_no = #{folderNo}
	</select>
	
	<delete id="deleteOneStudyFolder">
		delete from study_Folder where folder_no = #{folderNo}
	</delete>
	<insert id="insertStudyFolder">
		insert into study_Folder values (FOLDER_NO_SEQ.NEXTVAL, #{studyNo}, #{folderName}, #{parentFolderNo})
	</insert>

	<delete id="deleteStudyFolder"> 
		delete from study_Folder where folder_No = #{folderNo}
	</delete>
	
	<select id="selectlistStudyFile" resultMap="studyFileResultSet">
		select A.folder_no, B.file_no, B.study_no, B.file_name, B.file_path, B.file_upload_time, B.file_registrant from study_Folder A right outer join study_File B ON A.study_no = B.study_no where A.folder_no = ${folderNo} and B.folder_no = ${folderNo}
	</select>
	
	<select id="newSelectOneStudyFolder" resultMap="studyFolderResultSet">
		select * from study_folder where folder_No = (select max(folder_No) from study_folder)
	</select>
	
	<insert id="newInsertStudyFolder">
		insert into study_Folder values(Folder_no_seq.nextval, (select max(study_no) from study), '스터디폴더', null )
	</insert>
</mapper>
