<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
		<!-- 
			만약 null로 데이터가 전달되었다면
			빈칸이 아닌 "NULL"로 인식하라고 설정
			value 설정 시 NULL은 반드시 대문자로 작성
			(소문자인 경우 지정되지 않은 실제 null로 인식되어 에러 발생)
		 -->
	</settings>

	<typeAliases>
		<typeAlias type="com.growbeans.cunity.Alarm.domain.Alarm" alias="Alarm"/>
		<typeAlias type="com.growbeans.cunity.chatRoom.domain.ChatRoom" alias="ChatRoom"/>
		
		<typeAlias type="com.growbeans.cunity.departmentNotice.domain.DepartmentNotice" alias="DepartmentNotice"/>
		<typeAlias type="com.growbeans.cunity.departmentNoticeFile.domain.DepartmentNoticeFile" alias="DepartmentNoticeFile"/>
		<typeAlias type="com.growbeans.cunity.foreignActivities.domain.ForeignActivities" alias="ForeignActivities"/>
		<typeAlias type="com.growbeans.cunity.friends.domain.Friends" alias="Friends"/>
		<typeAlias type="com.growbeans.cunity.grade.domain.Grade" alias="Grade"/>

		<typeAlias type="com.growbeans.cunity.lectureEnrollment.domain.LectureEnrollment" alias="LectureEnrollment"/>
		<typeAlias type="com.growbeans.cunity.lectureEnrollment.domain.Timetable" alias="Timetable"/>
		<typeAlias type="com.growbeans.cunity.lectureEvaluation.domain.LectureEvaluation" alias="LectureEvaluation"/>
		<typeAlias type="com.growbeans.cunity.lecturesyllabus.domain.LectureSyllabus" alias="LectureSyllabus"/>
		<typeAlias type="com.growbeans.cunity.post.domain.PostImage" alias="PostImage"/>
		<typeAlias type="com.growbeans.cunity.professor.domain.Professor" alias="Professor"/>
		<typeAlias type="com.growbeans.cunity.study.domain.Study" alias="Study"/>
		<typeAlias type="com.growbeans.cunity.studyFile.domain.StudyFile" alias="StudyFile"/>
		<typeAlias type="com.growbeans.cunity.studyFolder.domain.StudyFolder" alias="StudyFolder"/>
		<typeAlias type="com.growbeans.cunity.post.domain.PostComment" alias="PostComment"/>
		<typeAlias type="com.growbeans.cunity.post.domain.Post" alias="Post"/>
		<typeAlias type="com.growbeans.cunity.student.domain.Student" alias="Student"/>
		<typeAlias type="com.growbeans.cunity.professor.domain.Professor" alias="Professor"/>
		<typeAlias type="com.growbeans.cunity.consulting.domain.Consulting" alias="Consulting"/>
		<typeAlias type="com.growbeans.cunity.lecture.domain.Lecture" alias="Lecture"/>
		
	</typeAliases>

	<mappers>
		<!-- 
		<mapper resource="mappers/consulting-mapper.xml"/>
		<mapper resource="mappers/chatRoom-mapper.xml"/>
		<mapper resource="mappers/departmentNotice-mapper.xml"/>
		<mapper resource="mappers/departmentNoticeFile-mapper.xml"/>
		<mapper resource="mappers/foreignActivities-mapper.xml"/>
		<mapper resource="mappers/grade-mapper.xml"/>
		<mapper resource="mappers/lectureEnrollment-mapper.xml"/>
		<mapper resource="mappers/lectureEvaluation-mapper.xml"/>
		<mapper resource="mappers/lectureSyllabus-mapper.xml"/>
		<mapper resource="mappers/professor-mapper.xml"/>-->
		<mapper resource="mappers/friends-mapper.xml"/>
		<mapper resource="mappers/alarm-mapper.xml"/>
		<mapper resource="mappers/studyFile-mapper.xml"/>
		<mapper resource="mappers/studyFolder-mapper.xml"/> 
		<mapper resource="mappers/chatRoom-mapper.xml"/>
		<mapper resource="mappers/study-mapper.xml"/>
		<mapper resource="mappers/student-mapper.xml"/>
		<mapper resource="mappers/professor-mapper.xml"/>
		<mapper resource="mappers/alarm-mapper.xml"/>
		<mapper resource="mappers/post-mapper.xml"/>
		<mapper resource="mappers/student-mapper.xml"/>
		<mapper resource="mappers/consulting-mapper.xml"/>
		<mapper resource="mappers/lecture-mapper.xml"/>
		<mapper resource="mappers/lectureEnrollment-mapper.xml"/>
		<mapper resource="mappers/timetable-mapper.xml"/>
	</mappers>
</configuration>
