<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.growbeans.cunity.chatRoom.mapper.ChatRoomMapper">
	<resultMap type="Student" id="studentResultSet">
		<id property="sNo" column="s_no"/>
		<result  property="sDept" column="s_dept"/>
		<result  property="sName" column="s_name"/>
		<result  property="sPhone" column="s_phone"/>
		<result  property="sAddress" column="s_address"/>
		<result  property="sEmail" column="s_email"/>
		<result  property="sGrade" column="s_grade"/>
		<result  property="sFile" column="s_file"/>
		<result  property="studyNo" column="study_no"/>
		<result  property="pNo" column="p_no"/>
	</resultMap>
	<resultMap type="ChatRoom" id="chatRoomResultSet">
		<id property="studentNo" column="CROOM_S_NO"/>
		<result  property="studyNo" column="CROOM_NO"/>
		<result  property="studentName" column="CROOM_S_NAME"/>
		<result  property="studentImage" column="CROOM_S_IMAGE"/>
	</resultMap>
	<select id="loginTest" resultMap="studentResultSet" parameterType="string">
		select * from STUDENT
		where s_no = #{id}
	</select>
	<insert id="entranceRoom" parameterType="ChatRoom">
		insert into chatroom
		values(#{studentNo}, #{studyNo}, #{studentName}, #{studentImage} )
	</insert>
	<delete id="exitRoom" parameterType="_int">
		delete from chatroom
		where CROOM_S_NO = #{studentNo}
	</delete>
	<select id="selectRoomMemberList" parameterType="_int" resultMap="chatRoomResultSet">
		select * from chatroom
		where CROOM_NO = #{studyNo}
	</select>
</mapper>
