<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="friendsMapper">
	
	<resultMap type="Friends" id="FriendsResultSet">
		<id property="fNo" column="F_NO"/>
		<result property="sNo" column="S_NO"/>
		<result property="sessionSNo" column="L_NO"/>
		<result property="sessionSNo" column="L_NO"/>
		<result property="fMessage" column="F_MESSAGE"/>
	</resultMap>
	
	<resultMap type="Student" id="StudentResultSet">
		<id property="sNo" column="s_no"/>
		<result property="sDept" column="s_Dept"/>
		<result property="sName" column="s_Name"/>
		<result property="sPhone" column="s_Phone"/>
		<result property="sAddress" column="s_Address"/>
		<result property="sEmail" column="s_Email"/>
		<result property="sGrade" column="s_Grade"/>
		<result property="sFile" column="S_File"/>
		<result property="studyNo" column="study_No"/>
		<result property="pNo" column="p_No"/>
		<result property="sPassword" column="s_Password"/>
	</resultMap>
	
	<select id="findFriends" resultMap="StudentResultSet">
		SELECT * FROM STUDENT WHERE s_Name LIKE '%'||#{sName}||'%'
	</select>
	
	<insert id="insertFriends" parameterType="Friends">
		INSERT INTO FRIENDS VALUES(F_NO_SEQ.NEXTVAL, #{sNo}, #{sessionSNo}, 'request')
	</insert>
	
	<select id="selectFriendsList" resultMap="StudentResultSet">
		SELECT * FROM STUDENT JOIN FRIENDS USING (S_NO) WHERE F_MESSAGE = 'response'
	</select>
	
	<select id="selectFriendsRequest" resultMap="FriendsResultSet">
		SELECT * FROM FRIENDS WHERE F_MESSAGE = 'request'
	</select>
</mapper>
