<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LectureSyllabusMapper">

	<resultMap type="LectureSyllabus" id="LectureSyllabusResultSet">
		<id property="lCode" column="l_code"/>
		<result property="lsGoal" column="ls_Goal"/>
		<result property="lsContent" column="ls_Content"/>
		<result property="lsBook" column="ls_Book"/>
		<result property="lsDate" column="ls_Date"/>
	</resultMap>
		
	<select id="findOneLecture" resultMap="LectureSyllabusResultSet">
	SELECT *
	FROM LectureSyllabus
	WHERE l_code = #{lCode}
	</select>
	
</mapper>

	



