<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LectureEnrollmentMapper">

	<resultMap type="LectureEnrollment" id="LectureEnrollmentResultSet">
		<id property="lCode" column="l_code"/>
		<result property="sNo" column="s_No"/>
		<result property="sRate" column="s_Rate" />
	</resultMap>
		
	<insert id="insertLectureEnroll">
		INSERT INTO LECTUREENROLL values( #{lCode},#{sNo},NULL)
	</insert>
	
 	<delete id="deleteLectureEnroll" >
 		DELETE FROM LECTUREENROLL
 		WHERE L_CODE = #{lCode}	
	</delete> 
	
	<select id="findLecture" resultMap="LectureEnrollmentResultSet">
	SELECT *
	FROM LECTUREENROLL
	WHERE l_code = #{lCode} and s_No = #{sNo}
	</select>
	
	<update id="insertGrade" >
	UPDATE LECTUREENROLL SET S_RATE = #{sRate} WHERE S_NO = #{sNo} AND L_CODE = #{lCode}
	</update>
	
	<select id="gradeList" resultMap="LectureEnrollmentResultSet">
	SELECT S_RATE
	FROM LECTUREENROLL
	WHERE S_NO = #{sNo}
	</select>
</mapper>

	



