<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.growbeans.cunity.studyFolder.mapper.StudyFolderMapper">
	<resultMap type="StudyFolder" id="studyFolderResultSet">
		<id property="folderNo" column="FOLDER_NO" />
		<result property="studyNo" column="STUDY_NO" />
		<result property="folderName" column="FOLDER_NAME" />
		<result property="parentFolderNo" column="PARENT_FOLDER_NO" />

	</resultMap>
	<select id="selectlistStudyFolder" parameterType="_int"
		resultMap="studyFolderResultSet">
		select * from study_Folder where STUDY_NO = #{studyNo}
	</select>
	<select id="selectOneStudyFolder"
		resultMap="studyFolderResultSet" parameterType="StudyFolder"> 
		select * from study_Folder where study_No = #{studyNo} and
		parent_Folder_No = null
	</select>
	<select id="selectlistOneStudyFolder" resultMap="studyFolderResultSet">
		select * from study_Folder where study_No = #{studyNo} and 
		parent_Folder_No = null
	</select>

	<insert id="insertStudyFolder" parameterType="StudyFolder">
		insert into study_Folder values (FOLDER_NO_SEQ.NEXTVAL, #{studyNo},
		#{folderName},
		#{parentFolderNo})
	</insert>

	<delete id="deleteStudyFolder" parameterType="StudyFolder"> delete
		study_Folder
		where folderNo = #{folderNo}
	</delete>
</mapper>
