<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.growbeans.cunity.studyFile.mapper.StudyFileMapper">
	<resultMap type="studyFile" id="studyFileResultSet">
		<id property="fileNo" column="FILE_NO" />
		<result property="studyNo" column="STUDY_NO" />
		<result property="uploadFile" column="FILE_NAME" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileUploadTime" column="FILE_UPLOAD_TIME" />
		<result property="folderNo" column="FOLDER_NO" />
		<result property="fileRegistrant" column="FILE_REGISTRANT" />
	</resultMap>
	<insert id="uploadStudyFile" parameterType="studyFile">
		insert into study_File values(FILE_NO_SEQ.nextval, #{studyNo}, #{uploadFile}, #{filePath}, SYSDATE, #{folderNo}, #{fileRegistrant} )
	</insert>


	<!-- <insert id="insertStudyFile" parameterType="StudyFile"> insert into 
		study_File values (FILE_NO_SEQ, #{studyNo}, #{fileName}, #{filePath}, SYSDATE, 
		#{folderNo}) </insert> -->

	<delete id="deleteStudyFile" parameterType="String"> delete studyFile
		where fileNo = #{fileNo}
	</delete>

</mapper>
